<div>
    <span>
        <button class="toggle--btn" (click)="onClickMethod()"> {{ toggleButtonText }} </button>
    </span>
    <span [hidden]="hideArea">

        <!-- Using 1-way binding: String interpolation, Property Binding AND Event Binding -->

        <input [value]="oneWayText" (input)="onInputMethod($event)">
        <span>{{oneWayText}}</span>

        <!-- Using 2-way binding -->

        <input [(ngModel)]="twoWayText">
        <span>{{twoWayText}}</span>

        <!-- *ngFor structural directive -->

        <span class="rnd-operation" *ngFor="let item of eligibleOperations">{{ item }}</span>

    </span>
</div>