.toggle--btn{
    width: 100px;
    height: 33px;

    background-color: #efefef;
    margin-left: -5px;
}

.rnd-operation{
    background-color: yellowgreen;
    border-radius: 100vi;
    font-size: 10px;
}