<div class="ekart--product--container">

    <app-search></app-search>

    <product-list></product-list>

    <!--
    <img [src]="product.pImage">
    <p>Name: {{ product.name }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Discounted Price: {{ '$' + getDiscountedPrice().toFixed(2) }}</p>
    <p>{{ product.inStockQty > 0 ? 'Only ' + product.inStockQty + ' Left in the stock!' : 'Sorry, We are out of stock!' }}</p>
    <button [disabled]="cartCount<1" (click)="decrementCartValue()">-</button>
    <span>{{cartCount}}</span>
    <button [disabled]="cartCount >= this.product.inStockQty" (click)="incrementCartValue()">+</button>
    -->
</div>