<div class="student-container">
    <div class="student-info" *ngFor="let student of students; let i = index" >
        <span>
            S.No. {{ i + 1 }} <br>
        </span>
        <span>
            <img class="student-image" [src]="student.imageUrl"> <br/>
        </span>
        <span>
            Name : {{ student.firstName + student.lastName }} <br/>
        </span>
        <span>
            Grade : {{ student.grade}} <br>
        </span>
        <span>
            Roll No : {{ student.rollNo}} <br>
        </span>
        <span>
            Registration No : {{ student.registrationNo}} <br>
        </span>
        <span *ngIf="student.address">
            Address : {{ student.address.city + ',' + student.address.postalCode }} <br>
        </span>
        <span [ngStyle]="{fontWeight: 'bold', color: student.classRank <= 10 ? 'Green' : 'Red'}">
            {{student.classRank <= 10 ? "Bright Student" : "Need to work harder"}}
        </span>
        <br/>
        <br/>
    </div>
</div>